@charset "UTF-8";
/* -----------------------------  General   -----------------------------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  margin: 0px;
  max-width: 480px;
  min-width: 220px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #ffffff;
  /* W3Schools ble benyttet som oppslag for å se hvordan jeg kunne løse det med pilen */
  /* -----------------------------  Headings   -----------------------------*/
  /* -----------------------------  Links   -----------------------------*/
  /* -----------------------------  Structure   -----------------------------*/
}
body p {
  font-size: 1rem;
}
body #top-button {
  display: inline-block;
  width: 40px;
  height: 36px;
  padding: 5px;
  bottom: 13px;
  right: 20px;
  color: #ffffff;
  background-color: #252525;
  font-size: 2rem;
  position: fixed;
  text-align: center;
  line-height: 10px;
  border-radius: 10%;
}
body #top-button a {
  color: #ffffff;
  text-decoration: none;
}
body h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-size: 2.5rem;
  color: #000000;
}
body h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
}
body h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-size: 1.2rem;
  color: #000000;
}
body h4 {
  margin: 0;
  font-family: "Montserrat", Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  color: #000000;
}
body header nav ul a {
  color: #000000;
  text-decoration: none;
}
body .link-button-golden, body .link-button-goldenblack {
  display: inline-block;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #252525;
  background-color: #e6bd43;
}
body .link-button-goldenblack {
  border: 1px solid #252525;
}
body .link-button-white {
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #252525;
  border: 1px solid #252525;
}
body .link-footer {
  text-decoration: none;
  color: #ffffff;
}
body .active {
  font-weight: bold;
  border-bottom: 2px solid #e6bd43;
}
body #grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 0rem 0rem;
}
body header {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #ffffff;
}
body header nav {
  text-align: center;
}
body header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body header nav ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}
body header img {
  margin: auto;
  display: block;
  width: 20%;
}
body main {
  max-width: 480px;
  min-width: 220px;
  margin-top: 30px;
  grid-column: 1/2;
  grid-row: 2/3;
}
body main #frontpage-headline {
  padding: 30px;
  text-align: center;
  background-image: url("../ressurser/header2.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}
body main #video-wrapper video {
  display: none;
}
body main #frontpage-subheading {
  padding: 30px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}
body main #frontpage-about {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  background-color: #e6bd43;
}
body main #frontpage-about img {
  width: 200px;
  height: 200px;
}
body main #frontpage-services, body main #aboutpage-services {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  text-align: center;
}
body main #frontpage-services p, body main #aboutpage-services p {
  margin: 0px;
}
body main #frontpage-services h2, body main #aboutpage-services h2 {
  flex-basis: 100%;
}
body main #frontpage-services article, body main #aboutpage-services article {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 150px;
}
body main #frontpage-services article img, body main #aboutpage-services article img {
  width: 15%;
}
body main #frontpage-newsletter {
  padding: 30px;
  width: 100%;
  text-align: center;
  background-color: #e2e2e2;
}
body main #frontpage-newsletter label {
  display: none;
}
body main #frontpage-newsletter input[type=text] {
  height: 40px;
  border: none;
}
body main #frontpage-newsletter input[type=submit] {
  height: 40px;
  border: none;
  font-weight: bold;
}
body main #aboutpage-headline {
  padding: 30px;
  text-align: center;
  background-image: url("../ressurser/header.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}
body main #aboutpage-headline #aboutbox {
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}
body main #aboutpage-headline #aboutbox #about-name {
  font-weight: bold;
  font-size: 0.8rem;
}
body main #aboutpage-clients {
  padding: 30px;
  width: 100%;
  text-align: center;
  background-color: #e6bd43;
}
body main #aboutpage-clients img {
  margin: 10px;
  width: 15%;
}
body main #aboutpage-contact {
  padding: 30px;
  width: 100%;
  text-align: center;
  background-color: #e2e2e2;
}
body main #aboutpage-contact #contact-form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-content: flex-start;
  text-align: left;
}
body main #aboutpage-contact #contact-form input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  border: none;
  font-size: 1rem;
}
body main #aboutpage-contact #contact-form #message {
  height: 100px;
}
body main #aboutpage-contact #contact-information {
  margin-top: 20px;
  text-align: center;
}
body main #aboutpage-contact #contact-information p {
  margin: 0;
}
body main #aboutpage-map {
  width: 100%;
}
body main #aboutpage-map iframe {
  width: 100%;
}
body main #portfolio-heading {
  padding: 30px;
  width: 100%;
  height: 250px;
  text-align: center;
  background-image: url("../ressurser/header2.jpg");
  background-size: cover;
}
body main #portfolio-heading h2 {
  margin-top: 50px;
}
body main #portfolio-explore {
  padding: 30px;
  text-align: left;
}
body main #portfolio-explore h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #e6bd43;
}
body main .flex-smaller {
  flex: 1;
}
body main .flex-grow {
  flex-grow: 2;
}
body main #portfolio-branding {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
body main #portfolio-branding h2 {
  flex-basis: 100%;
  border-bottom: 2px solid #e6bd43;
}
body main #portfolio-branding article {
  margin: 10px;
  max-width: 692px;
  min-width: 200px;
}
body main #portfolio-branding img {
  width: 100%;
}
body main #portfolio-design {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
body main #portfolio-design h2 {
  flex-basis: 100%;
  border-bottom: 2px solid #e6bd43;
}
body main #portfolio-design article {
  margin: 10px;
  max-width: 692px;
  min-width: 200px;
}
body main #portfolio-design img {
  width: 100%;
}
body main #portfolio-development {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
body main #portfolio-development h2 {
  flex-basis: 100%;
  border-bottom: 2px solid #e6bd43;
}
body main #portfolio-development article {
  margin: 10px;
  max-width: 692px;
  min-width: 200px;
}
body main #portfolio-development img {
  width: 100%;
}
body footer {
  margin: 0;
  padding: 30px;
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #252525;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
body footer img {
  width: 50%;
}
body footer p {
  color: #ffffff;
}
body footer #some-icons {
  color: #ffffff;
  font-size: 1.8rem;
}

/* -----------------------------  MEDIA QUERIES: DESKTOP STYLESHEET  -----------------------------*/
@media only screen and (min-width: 480px) {
  body {
    max-width: 1600px;
    /* -----------------------------  Links change  -----------------------------*/
    /* -----------------------------  Structure change  -----------------------------*/
  }
  body header nav ul a:hover {
    color: #252525;
    font-weight: bold;
  }
  body .link-button-golden:hover, body .link-button-goldenblack:hover {
    text-decoration: none;
    color: #e6bd43;
    background-color: #252525;
  }
  body .link-button-goldenblack:hover {
    text-decoration: none;
    color: #e6bd43;
    background-color: #252525;
    border: 1px solid #252525;
  }
  body #grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto auto;
    gap: 0rem 0rem;
  }
  body header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  body header nav ul li {
    margin: 10px;
    display: inline-block;
  }
  body header img {
    width: 50%;
  }
  body main {
    max-width: 1600px;
    grid-column: 2/4;
    grid-row: 2/3;
    /* Geeks for geeks ble benyttet som hjelp for å se hvordan det kan løses å sette gjennomsiktig bakgrunn
    uten å samtidig gjøre andre elementer gjennomsiktige */
    /* W3Schools ble benyttet til hjelp for å få videoen plassert riktig */
  }
  body main #frontpage-headline {
    position: relative;
    padding: 30px;
    background-image: none;
    background: rgba(255, 255, 255, 0.5);
  }
  body main #video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main #video-wrapper video {
    position: absolute;
    display: block;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  body main #frontpage-about {
    padding: 30px;
    width: 100%;
    background-color: #e6bd43;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  body main #frontpage-about img {
    margin: 10px;
    width: 250px;
    height: 250px;
  }
  body main #frontpage-about article {
    margin: 10px;
    width: 250px;
  }
  body main #frontpage-services article img, body main #aboutpage-services article img {
    width: 25%;
  }
  body main #frontpage-newsletter {
    padding: 30px;
    width: 100%;
    text-align: center;
    background-color: #e2e2e2;
  }
  body main #frontpage-newsletter label {
    display: none;
  }
  body main #frontpage-newsletter input[type=text] {
    height: 40px;
    border: none;
  }
  body main #frontpage-newsletter input[type=submit] {
    height: 40px;
    border: none;
    font-weight: bold;
  }
  body main #aboutpage-headline {
    overflow: hidden;
  }
  body main #aboutpage-headline #aboutbox {
    float: right;
    width: 50%;
  }
  body main #aboutpage-clients img {
    width: 10%;
  }
  body main #aboutpage-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
  }
  body main #aboutpage-contact h2 {
    flex-basis: 100%;
  }
  body main #aboutpage-contact #contact-form {
    margin: 10px;
    width: 30%;
  }
  body main #aboutpage-contact #contact-form form label {
    float: left;
  }
  body main #aboutpage-contact #contact-information {
    margin: 10px;
    width: 30%;
  }
  body main #portfolio-branding a:hover img {
    transform: scale(1.05);
    transition: transform 0.8s ease;
  }
  body main #portfolio-design a:hover img {
    transform: scale(1.05);
    transition: transform 0.8s ease;
  }
  body main #portfolio-development a:hover img {
    transform: scale(1.05);
    transition: transform 0.8s ease;
  }
  body footer {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  body footer img {
    width: 50%;
  }
  body footer #some-icons a:hover {
    color: #ffffff;
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */